# ignoring build files
out/

# ignoring Intellij folders and files
.idea/
*.iml

# ignoring vscode folders and files
*.code-workspace
settings.json

# ignoring gradle files (except gradle build and settings that describe how to build this component)
.gradle/
build/
gradle/
# ignoring gradle shell script/windows batch files
gradlew 
gradlew.bat

